<!-- hero section start -->
<section class='hero_section'>
    <div class='container'>
        <div class='row'>
            <div class="hero_content">
                <h1>{{ section.settings.title }}</h1>
                {{ section.settings.description }}
                <a href="{{ section.settings.button_url }}">{{ section.settings.button_label }}</a>
            </div>
        </div>
    </div>
</section>
<!-- hero section end   -->

{% schema %}
{
"name": "hero",
"class": "hero-section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Example Heading",
"label": "heading title"
},
{
"type": "richtext",
"id": "description",
"default": "<p>Example Description</p>",
"label": "Description"
},
{
"type": "text",
"id": "button_label",
"default": "Example button",
"label": "Button Label"
},
{
"type": "url",
"id": "button_url",
"label": "Button link"
}
],
"presets": [
{
"category": "hero",
"name": "simple hero"
}
]
}
{% endschema %}