<!-- collection section start -->
<section class="collection_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>my collection</h2>
            </div>
        </div>
    </div>
</section>
<!-- collection section end   -->


{% schema %}
{
"name": "My collection",
"class": "my_collection",
"settings": [
{
"type": "text",
"id": "title",
"default": "Example Heading",
"label": "heading title"
},
{
"type": "richtext",
"id": "description",
"default": "<p>Example Description</p>",
"label": "Description"
},
{
"type": "text",
"id": "button_label",
"default": "Example button",
"label": "Button Label"
},
{
"type": "url",
"id": "button_url",
"label": "Button link"
}
],
"presets": [
{
"category": "collection",
"name": "My Collection"
}
]
}
{% endschema %}