<!-- collection section start -->
<section class="collection_section">
    <div class="container">
        <div class="row">
            {%- assign collections = collections.long-sleeve.products.title -%}
            <h2>{{ collections }}</h2>
            {%- for product in collections[sections.settings.my_collection].products -%}

            {%- endfor -%}
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="head">
                        <div class="imgbox">
                            <img src="{{ product.featured_image }}" alt="">
                        </div>
                    </div>
                    <div class="body">
                        <h2>{{ product.title }}</h2>
                        <h3>{{ product.price }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- collection section end   -->


{% schema %}
{
"name": "My collection",
"class": "my_collection",
"settings": [
{
"type": "collection",
"id": "my_collection",
"label": "Collection"
},
{
"type": "text",
"id": "title",
"default": "My Collection",
"label": "Title"
}
],
"presets": [
{
"category": "collection",
"name": "My Collection"
}
]
}
{% endschema %}