<!-- collection section start -->
<section class="collection_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>my collection</h2>
            </div>
        </div>
    </div>
</section>
<!-- collection section end   -->


{% schema %}
{
"name": "My collection",
"class": "my_collection",
"presets": [
{
"category": "collection",
"name": "My Collection"
}
]
}
{% endschema %}