.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}

.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  cursor: default;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
}

select,
input,
button:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}



/* navbar */

.navbar {
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 100;
}
.navbar .logo {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
}
.navbar .hamburger {
    font-size: 50px;
    display: none;
    color: #fff;
}
.navbar .nav_menu {
    display: flex;
    padding-top: 15px;
}
.navbar .nav_menu li a {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.15em;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}
@media only screen and (max-width: 912px) {
    .navbar .logo {
        width: 40%;
   }
    .navbar .hamburger {
        display: block;
   }
    .navbar .nav_menu {
        background-color: black;
        position: absolute;
        left: -100%;
        top: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: all linear 0.5s;
   }
    .navbar .nav_menu li {
        margin-bottom: 20px;
   }
    .navbar .active_nav_menu {
        left: 0;
   }
}

/* hero section */

.hero_section{
    background-color: aqua;
}
