.imgbox_full,
.imgbox {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.imgbox_full img,
.imgbox img {
  width: 100%;
  height: auto;
}

.imgbox_full img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  cursor: default;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #000;
  position: static;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

select,
input,
button:focus {
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}



/* navbar */

.navbar {
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 100;
}
.navbar .logo {
    font-size: 40px;
    color: #fff;
    font-weight: 900;
}
.navbar .hamburger {
    font-size: 50px;
    display: none;
    color: #fff;
}
.navbar .nav_menu {
    display: flex;
    padding-top: 15px;
}
.navbar .nav_menu li a {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.15em;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
}
@media only screen and (max-width: 912px) {
    .navbar .logo {
        width: 40%;
   }
    .navbar .hamburger {
        display: block;
   }
    .navbar .nav_menu {
        background-color: black;
        position: absolute;
        left: -100%;
        top: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: all linear 0.5s;
   }
    .navbar .nav_menu li {
        margin-bottom: 20px;
   }
    .navbar .active_nav_menu {
        left: 0;
   }
}

/* hero section */

.hero_section{
  background-image: url('./hero.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 40vh;
}

.hero_section .hero_content{
  display: flex;
  height: 40vh;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 0px;
  width: 100%;
  max-width: 200px;
}

.hero_section .hero_content h1{
  font-weight: 900;
  font-size: 50px;
  color: #fff;
}
.hero_section .hero_content p{
  font-size: 20px;
  color: #fff;
  text-wrap: wrap;
  width: 200px;
}

.hero_section .hero_content a{
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  background-color: aqua;
  color: #000;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1.5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* collection section */

.collection_section{
  padding: 120px 0px;
}
.collection_section .heading{
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

.collection_section .card{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: all linear 0.3s;
}
.collection_section .card:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.collection_section .card .head .imgbox{
  height: 300px;
  border-radius: 5px;
}

.collection_section .card .body{
  padding: 20px;
  height: 200px;
}

.collection_section .card .body h2{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.collection_section .card .body h3{
  font-size: 16px;
  font-weight: bold;
}
.collection_section .card .body span{
  text-decoration: line-through;
}



